[2018-09-06 08:34] jeremyomer opened #1 "Error:Access to undefined reference - Problem with number of scenarios ?"
Hello,

Thank you for your contribution. I would like it very much if I could use it in a Julia Lab for students in OR.

While designing my lab, I bumped into a weird "ERROR: LoadError: UndefRefError: access to undefined reference" that is thrown when executing the solve command on a stochastic program. My concern is that this issue appears on my example with 80+ scenarios, but it does not with 70

[2018-10-23 09:03] #1 closed, assigned to martinbiel

[2018-10-23 09:11] martinbiel commented on #1
Hey @jeremyomer, sorry for noticing this so late. This is fixed now. I added a v0.0.2 release that you can checkout, that will work on Julia v0.6. The master branch is only compatible with v1.0 going forward. I can not promise that the v0.6 versions will be maintained, so consider upgrading to 1.0 as well.

[2018-10-23 10:25] jeremyomer commented on #1
Hello  Martin,

 Thank you for your revision. I will check it as soon as I go back to my L-Shaped code.

 Regards,

 Jeremy

[2020-02-15 17:22] bandayachul opened #3 "Comptability with JuMP (UndefVarError: @stochastic_model)"
This package looks quite good. As discussed on [discourse ](https://discourse.julialang.org/t/stochastic-programming-undefvarerror/34608/4), the StochasticPrograms package does not appear to be updated to the latest version of JuMP.

Running the [farmer example](https://martinbiel.github.io/StochasticPrograms.jl/stable/manual/examples/) given in the documentation gives “UndefVarError: @stochastic_

[2020-03-11 12:26] Thuener commented on #3
Any news on that?

[2020-03-18 15:44] martinbiel commented on #3
Hey,

I have a local development branch with a redesign that is compatible with the latest version of JuMP+MathOptInterface. It is close to functional but not yet finished, and I cannot now say for sure when it will be (on work leave atm). Until then, the best approach is to rely on environments to ensure that StochasticPrograms is used with the older version of JuMP. I think the “UndefVarError: @

[2020-07-21 21:47] bandayachul opened #4 "Optimal value: 0.0 in all examples"
Hi, I have noticed that you have recently updated this packages. I have tried running the examples given here: https://github.com/martinbiel/StochasticPrograms.jl/blob/master/docs/src/manual/examples.md

For both examples, I get zeros as optimal values. Is this a bug in the package?

[2020-07-21 21:58] odow commented on #4
I don't get zeros, but I do get an error:
[code]

Edit: seems like this is a Julia 1.4 thing. So we should either fix or bump the combat: https://github.com/martinbiel/StochasticPrograms.jl/blob/0d9350c9c071eb6678e717e5e68a664f1f0a540f/Project.toml#L33

[2020-07-21 22:15] bandayachul commented on #4
I don't get any errors but optimal values are always zero. The deterministic equivalent formulation is incorrect (reproduced below for the farmer problem).
[code]

[2020-07-22 18:02] odow commented on #4
@martinbiel is on vacation, not sure when he gets back.

[2020-08-07 11:42] martinbiel commented on #4
Hey,

I am aware of the compatibility issue, but did not have time to sort it out before going on vacation. I will push a hotfix for 1.0 when I get back.

What Julia version and OS do you get the zero objective value? Did you copy the example verbatim? I could not reproduce it on 1.4.

[2020-08-07 11:43] martinbiel commented on #3
The latest version now support the new JuMP+MathOptInterface. Closing this.

[2020-08-07 11:43] #3 closed, assigned to nobody

[2020-08-07 21:46] bandayachul commented on #4
I have tried again just now and it seems to be working, but running the example I get Profit (objective value) of -108390 instead of 108390.

I am not sure why I was getting a zero objective value earlier, though I copied the example verbatim.

I am using Julia version 1.4.2 and Windows 10 OS.

[2020-08-07 21:47] bandayachul commented on #4
I have tried again just now and it seems to be working, but running the example I get Profit (objective value) of -108390 instead of 108390.

I am not sure why I was getting a zero objective value earlier, though I copied the example verbatim.

I am using Julia version 1.4.2 and Windows 10 OS.

[2020-08-08 12:41] rtwalker opened #6 "Multi-Stage Instantiation"
I ran into an error with instantiating multistage models.

Taking the inventory  example from the multistage chapter of Birge and Louveaux:
[code]

Instantiating the DEP gives the following error:
[code]

The `LShaped.Optimizer` seems to handle the same model correctly however:
[code]

[2020-08-08 12:52] rtwalker opened #7 "Using @expression with an LShaped.Optimizer"
I'm not sure whether this one counts as a bug or a feature request, but using JuMP expressions inside of a model seems to give the `LShaped.Optimizer` some trouble.

Here is an example using the model from the Quick Start:
[code]

[code]

[code]

[code]

[2020-08-08 12:55] rtwalker commented on #7
Note: I'm happy to try to help with either of the issues I just opened. I did a little digging on each but didn't see an apparent solution to either, so I might need a little guidance.

[2020-08-09 15:22] martinbiel commented on #7
Hey,

I believe the `@expression` is incorrectly added to the decision generator. Adding a filter for `@expression` to: https://github.com/martinbiel/StochasticPrograms.jl/blob/master/src/methods/creation.jl#L593-L607 might sort it out!

[2020-08-09 15:32] martinbiel commented on #6
There is no actual support for multi-stage models in StochasticPrograms yet. There is some experimental groundwork, which is likely to change. Hence, you can instantiate the model in vertical form, but the result is somewhat meaningless and you cannot solve the model.

I might open an issue with a roadmap for multi-stage support when I have more time for development again :)

[2020-08-09 15:34] martinbiel commented on #4
In a minimize cost formulation of the farmer problem the optimal value will be negative, so this result is expected. If you convert it into maximization form the result will be positive.

[2020-08-09 16:02] odow commented on #6
If you want to solve multistage programs, you can use https://github.com/odow/SDDP.jl.

At some point I'd like to separate the SDDP backend so it could be used as a solver for @martinbiel's user-friendly modeling layer.

[2020-08-09 18:04] martinbiel commented on #6
That would be great :)

[2020-08-10 12:08] rtwalker commented on #6
I'm working on a nested L-Shaped implementation at the moment, so the instantiation part gets me very close to what I was looking for. Previously most of my trouble was coming from specifying the model, but drawing on the "user-friendly modeling layer" here has alleviated nearly all of that trouble.

In other words, the multistage functionality is good enough for me at the moment, so I'm ok to clo

[2020-08-10 12:08] #6 closed, assigned to nobody

[2020-08-10 12:31] rtwalker commented on #7
Thanks for the suggestion! I've made the change locally and will try it out. If I don't run into any problems, I'll create a PR later this week.

[2020-08-10 13:05] odow commented on #6
What for? Any reason to used nested Benders over SDDP ?

[2020-08-10 14:33] rtwalker commented on #6
Mostly just to have as a point of comparison. I'll try to give SDDP a spin too!

[2020-08-10 14:40] odow commented on #6
You probably already know this, but SDDP is just nested Benders with sampling. For very small problems (e.g., 3 stage), SDDP may be a little slower due to unlucky sampling. But it should only take a few seconds to solve so it's not a big deal. For larger problems, nested Benders won't work. What applications are you trying to solve?

[2020-08-10 23:16] johnzigla opened #8 "Help with formulation"
Hi Martin,
This is an amazing package for stochastic programming in Julia and I really like it. Thanks for the great contribution!

I have coded a CVaR optimisation problem using the extensive form (deterministic equivalent), but I would like to solve it using Lshaped method using your package. This is because I run into memory issues if number of scenarios or number of investments are increased.

[2020-08-11 11:38] rtwalker commented on #6
Eventually it'll be comparing solution methods for generation expansion planning problems. In the meantime, it's just persuading others that Julia/JuMP/StochasticPrograms would be a good choice for modeling problems and implementing some new ideas.

[2020-08-11 13:08] odow commented on #6
This 💯

We're starting to have a nice ecosystem of tooling that makes it easy to do some crazy stuff. E.g., @andrewrosemberg was solving multistage stochastic hydro-thermal scheduling problems with SDP subproblems: https://proceedings.juliacon.org/papers/10.21105/jcon.00035

There are also tools like: https://github.com/reganbaucke/JuDGE.jl

And we're in the process of starting a file format to co

[2020-08-12 13:07] martinbiel commented on #8
When using the default `Scenario` type, you need to use keyword arguments that match your `@uncertain` declaration. In other words, `Scenario(Loss = Loss, FutureValue = FutureValue, Demand = Demand, probability = prob)` should work. Note, that the `y` should probably not be included in the scenario construction.

If you have further inquiries, kindly consider reaching out to me by email or prefera

[2020-08-12 13:07] #8 closed, assigned to nobody

[2020-08-17 11:31] #7 closed, assigned to nobody

[2020-08-17 14:10] martinbiel commented on #4
The compatibility issues are now fixed. Closing this.

[2020-08-17 14:10] #4 closed, assigned to nobody

[2020-08-28 13:17] rtwalker opened #9 "Normalized coefficient of "decision" variables"
I'm running into errors using the `normalized_coefficient` function on variables that are of type `DecisionRef` or `KnownRef`.
If the decision variable isn't in the constraint, I'd prefer it to return 0 rather than throwing an error.

Of course I can do some filtering on the front end to avoid calling `normalized_coefficient` for constraints that aren't `AffineDecisonFunction`s, but for the sake o

[2020-08-31 11:25] martinbiel commented on #9
Fine by me! Looking at the JuMP definitions this should probably be the intended behavior anyway.

[2020-08-31 12:13] rtwalker commented on #9
Great! I'll turn it into a PR a little later today

[2020-08-31 13:39] #9 closed, assigned to nobody

[2020-09-09 07:48] maramos874 opened #11 "Undefined variable error when defining integer variables"
Hi, I did a quick test by modifying the farmer example, transforming it to integer form. However, UndefVarError is thrown when trying to instantiate the model. I've done other tests and the error is thrown with binary variables too and with all solvers. Is this a bug or are integer variables not supported yet?

Thanks!

using Gurobi
using StochasticPrograms
farmer_model = @stochastic_model begin

[2020-09-14 12:53] martinbiel commented on #11
Hey,

Both yes and no. Integer and binary restrictions were not being parsed correctly. This should be fixed on master now, so you can try it out again. The current L-shaped implementation does not account for integer/binary restrictions, so most problems will not be solved correctly. It could work out fine if only the first-stage variables are integer/binary (It seems to work for the farmer probl

[2020-09-18 14:07] maramos874 commented on #11
It works now, thanks!

[2020-09-18 14:07] #11 closed, assigned to nobody

[2020-09-18 14:52] maramos874 opened #12 "ERROR: MethodError: no method matching add_to_expression!(::DecisionAffExpr{Float64}, ::Int64, ::DecisionAffExpr{Float64})"
Hi,
I'm now working with a custom complicated model, and I'm having the Error stated above. By tracing the JuMP.add_to_expression! function, in one point StochasticPrograms.jl calls that function with the follow arguments (line 147, mutable_arithmetics.jl):
[code]
Apparently, JuMP.add_to_expression! has not been implemented for Int64 on the middle argument, or for the combination of argument types

[2020-09-18 15:34] martinbiel commented on #12
Could you post a MWE of what you want to achieve so I can reproduce the error?

[2020-09-27 11:38] kurtulus-ercan opened #13 "LoadError: MethodError: no method matching copy(::StochasticPrograms.SingleDecisionSet{Float64})"
Hi Martin,

I am trying to reproduce farmer example. Excact model is below:

##########################################
using GLPK
using StochasticPrograms

farmer_model = @stochastic_model begin
    @stage 1 begin
        @parameters begin
            Crops = [:wheat, :corn, :beets]
            Cost = Dict(:wheat=>150, :corn=>230, :beets=>260)
            Budget = 500
        end
        @decisio

[2020-09-27 13:27] martinbiel commented on #13
StochasticPrograms was unfortunately broken by the latest minor release of JuMP+MathOptInterface. Some of the issues are fixed on master but not yet all. Until I have it sorted the only option is to downgrade to prior versions of JuMP+MathOptInterface.

[2020-09-27 14:04] kurtulus-ercan commented on #13
Thank you for your swift reply. Downgrading to MathOptInterface v0.9.14 is solved the problem.

[2020-09-28 08:43] maramos874 commented on #12
Finally managed to produce a MWE after figuring out what was causing the error, when using structures to store parameters, Note that by replacing p.cc by its value, the error is not raised.

[code]

[2020-09-28 12:47] maramos874 opened #14 "Typo in DecisionSparseAxisArray in macros.jl"
Hi,
Just noticed that when using sparse-decisions arrays with the L-Shaped optimizer, an error was raised due to a typo in DecisionSparseAxisArray in macros.jl (Line 126, spelled "DecisionSpareAxisArray").

Kind regards

[2020-09-28 13:38] maramos874 opened #15 "[Question] Extract recourse variables optimal value"
Hi,
Is it possible to extract recourse variables optimal value?

Kind regards

[2020-09-28 16:01] martinbiel commented on #12
Thank you for the MWE. I am very busy this week with paper revision, but I will look into this as well as the other issues you have posted afterwards :slightly_smiling_face:

[2020-09-29 07:53] maramos874 commented on #12
Ok, no problem! Happy to help.

[2020-09-30 13:00] maramos874 opened #16 "Warning: Stochastic program could not be solved, returned status: INFEASIBLE_OR_UNBOUNDED"
Hi,
My stochastic model converges easily to the optimal solution when using the deterministic equivalent formulation. Nevertheless, PH and L-Shaped methods do not converge at all (see title). I have explored changing both algorithms options without success. Is there something I can explore further to find the source of non-convergence?

Kind regards

[2020-10-05 09:33] #14 closed, assigned to nobody

[2020-10-05 11:31] martinbiel commented on #13
The errors appear to be sorted out now. So the master branch should be compatible with the latest JuMP+MathOptInterface again.

[2020-10-05 11:31] #13 closed, assigned to nobody

[2020-10-05 11:52] martinbiel commented on #15
This feature existed in prior releases, but I removed it in the latest rework because I have not yet sorted how it should work going forward. I had a version in development where you could use `@decision` annotations also in the final stage, which would mark those variables as recourse variables that could be extracted. However, this was a bit clunky, partly because the recourse actions are scenar

[2020-10-05 12:07] martinbiel commented on #16
It is hard to say without knowing what model you are solving. Gurobi has some good [guidelines](https://www.gurobi.com/documentation/9.0/refman/num_grb_guidelines_for_num.html) for avoiding common numerical issues. The Gurobi parameter `BarHomogeneous` can be useful as well. For L-shaped you could consider the somewhat hidden `cut_scaling` parameter if generated cuts are ill-conditioned. There cou

[2020-10-05 12:47] #12 closed, assigned to nobody

[2020-10-05 12:48] martinbiel commented on #12
Should be fixed now. Your MWE pointed me to another bug as well, so thanks a lot! :slightly_smiling_face:

[2020-10-05 13:14] maramos874 commented on #12
Nice! Happy to help.

[2020-10-05 13:19] maramos874 commented on #13
Still having the issue with MOI v0.9.17

[2020-10-05 13:49] martinbiel commented on #13
Are you on the master branch?

[2020-10-05 13:52] maramos874 commented on #13
Yep, had to downgrade MOI to v0.9.14

[2020-10-05 14:04] martinbiel commented on #13
Ok, I will check it out.

[2020-10-05 14:30] maramos874 commented on #16
Thanks for the info, scaling the model coefficients surely has an impact on convergence, mostly for PH. I'm still having a hard time driving Benders decomposition towards convergence. is ```cut_scaling``` a StochasticPrograms parameter? How do you change it?

[2020-10-05 16:28] martinbiel commented on #16
It should be either
[code]
or
[code]
It is mentioned in the `?LShapedAlgorithm` documentation, and any new general L-shaped parameter would be set in the same way. The parameter re-scales the lhs and rhs of all cuts by the provided value.

[2020-10-05 16:31] martinbiel commented on #13
Works for me on v0.9.17, and seems fine on Travis as well. Can you send the output of `versioninfo` and `Pkg.status()`?

[2020-10-07 11:30] maramos874 commented on #13
Sure!
[code]
Yesterday, another colleague had exactly the same problem in a Windows machine, just FYI.

Kind regards

[2020-10-07 15:53] martinbiel commented on #13
It does not look like you are on the master branch. Did you run `pgk> add StochasticPrograms#master`?

[2020-10-08 08:45] maramos874 commented on #13
Now it works! Thanks!

[2020-10-08 11:36] maramos874 opened #17 "Could not run in distributed mode"
Hi,
I'm trying to make Distributed solving work on my model. Nevertheless, this error arises:
[code]

My main does not contain the model, which is instantiated in another file. The header of such file is the following:
[code]
Am I missing something?
Thanks in advance
Kind regards

[2020-10-08 12:39] maramos874 opened #18 "Incompatibility of L-Shaped with CBC"
Hi,
I'm running quick tests with CBC and it appears to be incompatible with MOI methods to extract duals:
[code]

Kind regards

[2020-10-08 13:06] maramos874 opened #19 "Performance issue with L-Shaped when using Gurobi in subproblems"
Hi,
I was investigating why L-Shaped was not performing well and tracked the problem to subproblem generation with Gurobi. Linear subproblems are solved in less than 1/10 of second, and the master is solved in less than 10 seconds. Nevertheless, the overhead time between those two solves is overwhelming. Thus, I tried changing the subproblem solver to GLPK and to my surprise there was almost no ov

[2020-10-08 13:08] #16 closed, assigned to nobody

[2020-10-08 13:13] martinbiel commented on #18
Closing since this is an issue with Cbc and not StochasticPrograms. See e.g. [this issue](https://github.com/jump-dev/Cbc.jl/issues/50).

[2020-10-08 13:13] #18 closed, assigned to nobody

[2020-10-08 13:26] martinbiel commented on #19
Performance is very problem dependent. I cannot say if there is a problem here without access to the model.

[2020-10-08 13:31] martinbiel commented on #17
This does not seem like an issue with StochasticPrograms, but rather with your setup. The workers seem to be running in a Julia environment where StochasticPrograms is not installed? Are the workers local or remote? I cannot really help if it is a Windows related issue I am afraid.

[2020-10-08 13:31] #17 closed, assigned to nobody

[2020-10-08 13:43] maramos874 commented on #19
I understand, does an MPS file could work for you? This message is also thrown by Gurobi in each subproblem:
[code]

[2020-10-08 13:49] martinbiel commented on #19
What are your problem dimensions and how many iterations do you end up with?

[2020-10-08 14:10] maramos874 commented on #19
[code]
The overhead time is just after each master solve.

[2020-10-08 14:25] martinbiel commented on #19
If you send me the problem I can look into it when I have time.

[2020-10-08 14:47] maramos874 commented on #19
I'll send it next week then. Thanks!
Regarding the warning message, could it be related to this? (Gurobi.jl reference)
[code]

[2020-10-08 14:53] martinbiel commented on #19
Yes most likely, but it is not entirely clear to me why that would happen when solving the master. I will think about it.

[2020-10-08 14:57] maramos874 commented on #19
It appears to happen rather when assembling the subproblems and/or querying duals, since when solving the master with Gurobi and the subproblems with GLPK, performance is way better than when solving both master and subproblems with Gurobi

[2020-10-08 15:02] martinbiel commented on #19
How many constraints are there in the subproblems?

[2020-10-08 15:08] maramos874 commented on #19
Short less than 100000

[2020-10-08 15:15] martinbiel commented on #19
Eventually, updating all first-stage decision values in every subproblem will become a bottle-neck when you increase the number of second-stage constraints. It could possibly be improved by switching to using fixed variables when the number of constraints is large, but I am not sure how much it will help and I will need some time to implement and test it.

[2020-11-06 19:37] gganetlepage opened #20 "ERROR on the instantiation of a stochastic model"
I try to do the quick start example, same error as Issue #13 was happening.
So, I run pgk> add StochasticPrograms#master and now this error is obtained. The same behavior happens for the farm example.
Below versioninfo, status and the code.

Thank you in advance,

[code]

Edit: added a fenced code block

[2020-11-07 01:12] bigadolfo commented on #20
Hello everyone,
The same problem comes to me. I will be very grateful to anyone who can find the solution

Thanks,

[2020-11-09 08:47] martinbiel commented on #20
Hey, StochasticPrograms seems incompatible with the latest MathOptInterface version released a few days ago. Until I have sorted that out, downgrading MOI should remove the error temporarily.

[2020-11-09 13:04] bigadolfo commented on #20
Hello, you mean using MathOptInterface v0.9.17 ?, but that package I don't use. Besides StochasticPrograms, I use GLPK  (v0.14.2) as an optimizer. Is GLPK using MathOptInterface??? ,  I must downgrade the GLPX package....

[c52e3926] Atom v0.12.25
  [60bf3e95] GLPK v0.14.2
  [e5e0dc1b] Juno v0.8.4
  [b8f27783] MathOptInterface v0.9.17
  [8b8459f2] StochasticPrograms v0.4.1

[2020-11-09 13:37] martinbiel commented on #20
StochasticPrograms has MOI as a dependency, so you get it automatically. `pgk> add StochasticPrograms#master` and `pkg> add MathOptInterface@0.9.17` should work as a temporary fix.

[2020-11-09 18:04] bigadolfo commented on #20
Thanks , it works. We  keep on waiting for the final solution

[2020-11-10 00:39] bigadolfo commented on #20
In this example:
https://martinbiel.github.io/StochasticPrograms.jl/dev/manual/examples/

What is the function to obtain the value of variables of tons bought and sold (y, w) -recourses var-?   ... I think it is optimal_recourse_decision... but not work...

[2020-11-10 09:07] martinbiel commented on #20
See #15 for a discussion about this.

[2020-11-11 18:56] gganetlepage commented on #20
Hi, thank you, the trick works.

[2020-11-12 07:37] bigadolfo opened #21 "Problem in get WS'values"
Hello everyone:

In the example of: https://martinbiel.github.io/StochasticPrograms.jl/dev/manual/quickstart/
there are 2 scenarios (ξ₁ and ξ₂), for each I can obtain the formulation:
ws1 = WS(sp, ξ₁)
print(ws1)
and
ws2 = WS(sp, ξ₂)
print(ws2)
all is ok

Using print (ws1) and print (ws2) and later of coding them in Julia by my own, I can obtain the EWS. So  value of  ws1  is 37.5 and ws2 -2556.25

[2020-11-12 08:56] martinbiel commented on #21
The optimal value of a given wait-and-see problem is not the same as the expected value of the corresponding wait-and-see decision. For example, 37.5 is the optimal value if `ξ₁` is the actual scenario AND the actor knows it is before taking the decision. This yields the decision `x₁`. Now, if you evaluate this decision, you measure the expected result of taking this decision across ALL scenarios

[2020-11-12 08:57] martinbiel commented on #20
Keeping this open until I have fixed the bug.

[2020-11-12 15:05] bigadolfo commented on #21
Hi Martin Biel

Thanks for your prompt response.

Use these sentences are not correct and understand:
ws1 = evaluate_decision(sp, x₁) #---the result is -762.5ws2 = evaluate_decision(sp, x₂) #---the result is -626.25

At this point in time, I thought to solve with this:
ws1 = evaluate_decision(sp, x₁, ξ1) #---the result is 8400
ws2 = evaluate_decision(sp, x₂, ξ2)#---the result is 16775
but these re

[2020-11-12 15:22] martinbiel commented on #21
[code]
should give 37.5 in this case. `evaluate_decision(sp, x₁, ξ₁)` should actually give the same thing, but I just noticed that this function does not properly factor in the first-stage cost. I will fix this in a future release.

[2020-11-12 19:03] bigadolfo commented on #21
Ok. Thanks, all is correct.

[2020-11-12 19:22] bigadolfo opened #22 "Problem in Infinite sample space"
Hi everyone

I am doing an exercise of Problem in Infinite sample space of
[](https://martinbiel.github.io/StochasticPrograms.jl/dev/manual/quickstart/)

In this code:
[code]
## For now, we create a small sampled model of just 5 scenarios:
`sampled_sp = instantiate(simple_model, sampler, 5, optimizer = GLPK.Optimizer)`

**I have a problem in the last line. The error is:**
[code]
**Can you help me,

[2020-11-13 09:04] martinbiel commented on #22
What is your `@uncertain` declaration?

Also, please consider posting on [discourse](https://discourse.julialang.org/c/domain/opt/) first for usage questions. The issues section should ideally be used for bugs and feature requests.

[2020-11-13 09:04] #22 closed, assigned to nobody

[2020-11-13 15:48] bigadolfo opened #23 "Problem in Infinite sample space"
Hi everyone

I am doing an exercise of Problem in Infinite sample space of
https://martinbiel.github.io/StochasticPrograms.jl/dev/manual/quickstart/#Infinite-sample-space

In this code:

@sampler SimpleSampler = begin
    N::StochasticPrograms.MvNormal

    SimpleSampler(μ, Σ) = new(StochasticPrograms.MvNormal(μ, Σ))

    @sample Scenario begin
        x = rand(sampler.N)
        return Scenario(q

[2020-11-13 15:57] martinbiel commented on #23
Dup of #22

[2020-11-13 15:57] #23 closed

[2020-11-19 16:32] TheoGuyard commented on #20
Hello ! Seems that fixing MOI by downgrading it (v0.9.17 but also v0.9.16) doesn't work either. Thank you for your work and good luck to fix this !

[code]

[2020-11-19 18:04] martinbiel commented on #20
You need to be on the master branch as well. `pkg> add StochasticPrograms#master`

[2020-11-20 11:31] TheoGuyard opened #24 "Safeguard for Stochastic programs with Integer recourses"
Hey ! There is no safeguard for model with integer recourses. The standard L-Shaped method (for instance) can not be used in such cases. A safeguard could prevent errors of type `ERROR: Gurobi Error 10005: Unable to retrieve attribute 'Pi'` when adding new cuts during the method.

[2020-11-20 14:58] martinbiel commented on #20
Fixed on master.

[2020-11-20 14:58] #20 closed, assigned to nobody

[2020-11-20 17:05] martinbiel commented on #21
The first-stage cost is used correctly in the evaluation now, so `evaluate_decision(sp, x₁, ξ₁)` gives 37.5 in this case as expected. Closing this.

[2020-11-20 17:05] #21 closed, assigned to nobody

[2020-11-28 22:24] Lessvn commented on #20
Hi, Seems the problem still exists as I am getting the same error, for the same toy problem:

using StochasticPrograms
using GLPK
using Ipopt

simple_model = @stochastic_model begin
                  @stage 1 begin
                      @decision(model, x₁ >= 40)
                      @decision(model, x₂ >= 20)
                      @objective(model, Min, 100*x₁ + 150*x₂)
                      @co

[2020-11-30 06:15] martinbiel commented on #20
With the latest fix, downgrading MOI should no longer be necessary. Maybe you need to re-add master to get the latest commits? I only test on 1.0 and 1.5 as well, so your Julia version might matter. What exact error are you getting?

[2020-12-29 10:11] JuliaTagBot opened #25 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-29 10:11] #25 closed, assigned to nobody

[2020-12-29 10:31] martinbiel commented on #15
The latest release supports extracting optimal recourse decisions using `optimal_recourse_decision(sp, scenario_index)` where `scenario_index` is the scenario of interest. This only works for second-stage decisions annotated with ´@recourse`. The suggested `recourse_decision` function is now available as well. In addition, many other scenario-dependent values can be queried. See NEWS for a summary

[2020-12-29 10:31] #15 closed, assigned to nobody

[2021-01-11 21:41] iagoleal opened #26 "Can't solve deterministic equivalent using SCS, COSMO or Xpress"
Hi!
I  was experimenting with the library and tried to solve some of examples on the Quickstart using different solvers to compare the performance.
Apparently the first example (deterministic equivalent) raises a method error on `all_decisions` if you substitute GLPK by SCS, COSMO or Xpress.
I also tested with Clp and the program runs fine.
Please tell me if there is any more info I can provide on

[2021-01-12 11:21] martinbiel commented on #26
Should be fixed on master, thanks for spotting.

[2021-01-12 11:21] #26 closed, assigned to nobody

[2021-03-28 05:32] thvo1304 opened #27 "Creating instant model issue with scenario defined type vector"
Hello,
I'm trying to create a stochastic model with a defined scenario using the instantiate function. However, I'm being stuck at the step of generating the model.

[code]

**This is the errors that i got :**
[code]

**This is a scenario that I created - I created 10 scenarios and stored them in sampled_d**
[code]
I don't know how to solve this problem. Hope you can help!
Thank you.

[2021-03-29 08:03] martinbiel commented on #27
It is a type inference issue, your `sampled_d = []` gives an `Array{Any,1}` which is not recognized as an array of scenarios. Inititializing it as `sampled_d = SampleScenario[]` should fix it.

Note, that with the latest release you can safely rely on the fallback scenario structure for implementations like this:
[code]
Note the `@uncertain` declaration and the matching `@scenario` instantiation.

[2021-03-29 08:03] #27 closed, assigned to nobody

[2021-04-16 15:07] martinbiel commented on #24
There are now two experimental extensions that handle integer recourse in the L-shaped algorithm, on the master branch. They are activated by either
[code]
 or
[code]
The default `IntegerStrategy`, `IgnoreIntegers`, includes the safeguard checks suggested here. Thanks!

[2021-04-16 15:07] #24 closed, assigned to nobody

[2021-04-16 15:13] martinbiel commented on #19
This has been addressed on the master branch according to the above suggestion. I can at least see improvements on my problems. I do not have any further major design suggestions for dealing with large subproblems at the moment, save for further decomposition, so I will close this for now. Thanks for bringing it up!

[2021-04-16 15:13] #19 closed, assigned to nobody

[2021-04-29 21:30] victorgarciareolid opened #28 "Conversion failed (MathOptInterface.Utilities.VectorOfConstraints)"
Hi all!

I've been trying to run the farmer problem example but it failed (this in Julia 1.5.3). I made a fresh Julia 1.6.1 installation and the exampled failed as well. Furthermore, I run the test and many failed. I attatch you the test summary as well as the the error in common.

I hope it helps :)

Cheers,

DecisionVariable                           |   48     40     88
  Deterministic()

[2021-04-30 00:02] odow commented on #28
This looks like a problem with the new MOI release.

To fix temporarily until @martinbiel fixes this in StochasticPrograms, do `] add MathOptInterface@0.9.20`, then restart Julia.

[2021-04-30 06:55] martinbiel commented on #28
This has been fixed on master: https://github.com/martinbiel/StochasticPrograms.jl/commit/baf67f19b47f4929848dc90167d1ff3d4d3cec12. I will push a new release soon, and until then `] add StochasticPrograms#master` also works as a temporary fix :slightly_smiling_face:

[2021-04-30 06:55] #28 closed, assigned to nobody

[2021-06-06 02:19] BYS543 opened #29 "Why it tells me the MethodError when I use StochasticPrograms?"
Hi, Martin
I have added the StochasticPrograms package,and use "using StochasticPrograms" ,but when I run the example"farmer" it tells me as following error:
[code]
Also, it has the warning in the command window:
`WARNING: both Distributions and JuMP export "shape"; uses of it in module StochasticPrograms must be qualified`
How can I deal with it? Thanks a lot!

[2021-06-06 10:57] martinbiel commented on #29
I am guessing that you are not on the latest version (v0.6.2) that introduced new `@stochastic_model` syntax. Try updating. If you explicitly run `pkg> add StochasticPrograms@0.6.2` you can check if there are any dependency blocks. The old anonymous syntax still works as well (check docs for v0.6.1)

[2021-06-06 12:32] BYS543 commented on #29
Tkank you for your help, Martin. I have run `pkg> add StochasticPrograms@0.6.2`, and it shows as,
[code]
When I run the example `farmer`,it still tells me
[code]

[2021-06-06 12:54] martinbiel commented on #29
From the error message it still looks like you are on the wrong version. What is the output of `pkg> status`? I have never used JuliaPro if it is related to that somehow.

[2021-06-06 13:01] BYS543 commented on #29
So it is related to my IDE "JuliaPro"? if I run  `pkg> status`
[code]

[2021-06-06 13:04] martinbiel commented on #29
Everything looks fine, does it not work if you load StochasticPrograms: `using StochasticPrograms` and copy paste the farmer code into that session?

[2021-06-06 13:14] BYS543 commented on #29
Well, I have used ctrl+d to clear the workspace and load StochaticPrograms again ,the new error occurs:
[code]

[2021-06-06 13:24] martinbiel commented on #29
Ah, I have not been careful enough with compat. You need to update JuMP to at least v0.21.7.

[2021-06-06 13:33] BYS543 commented on #29
So it seems new error occurs after I update JuMP,
[code]

[2021-06-06 13:37] martinbiel commented on #29
This is just from running the testfile verbatim. You do not need `SPResult`. You can just skip the final lines and keep the model definition and the scenarios.

[2021-06-06 13:47] BYS543 commented on #29
Thank you very much, Martin. It can fly without errors.

[2021-06-06 13:49] martinbiel commented on #29
Perfect, happy to help!

[2021-06-06 13:49] #29 closed, assigned to nobody

[2021-06-07 09:50] BYS543 opened #30 "model of different stages"
Hi, Martin
     I have used StochasticPrograms to solve my model, However,there is a warning:
[code]
the first stage of my model is an MILP model,the second stage of my model is a LP model,I use LShaped.Optimizer to do it, I find there is no convergence tendency of iteration and sometimes even large fluctuations of my subproblem objective function value, is it related to the MILP master problem. A

[2021-06-07 09:57] martinbiel commented on #30
If the second-stage is LP, you should not need any special strategies for L-shaped to work, in theory. However, integer problems are hard and could take a long time to solve (if even possible) using the best solvers available, depending on the model. Can you solve the deterministic equivalent of your problem in reasonable time?

[2021-06-07 10:10] BYS543 commented on #30
I guess it will be difficult and take much time if I solve the whole MILP model directly due to large number of scenes, so I try to use the two stage model to decompose it. I just solved it again and found that it could converge,the result is as follows,
[code]
However, I think the objective function value is a little small, because I have used mean value of random variable to solve the whole MILP

[2021-06-07 10:15] BYS543 commented on #30
This is the solving process,which is provided by Gurobi
[code]

[2021-06-07 10:19] martinbiel commented on #30
You could perhaps experiment a bit with fewer scenarios at first, to get a better sense of behavior, and check if L-shaped results match the DEP etc.

Integer constraints are difficult, and I currently only offer some experimental extensions for L-shaped. If your first-stage only has binary variables, you could try `set_optimizer_attribute(sp, IntegerStrategy(), CombinatorialCuts()`, otherwise I d

[2021-06-07 11:40] BYS543 commented on #30
Thank you very much for this valuable reply. I am trying to reduce my scenarios. By the way, does Gurobi support the decomposition methods now ?  Some time ago, I have asked if Gurobi supports the decomposition methods,like Benders?
The answer is no(maybe not support Benders)

[2021-06-07 11:44] martinbiel commented on #30
I am not aware of it at least. I believe CPLEX has a Benders implementation.

[2021-06-07 11:48] BYS543 commented on #30
Okay. Just now I made a mistake and lead to the iteration process premature convergence. In fact, there is no convergence tendency of iteration and sometimes even large fluctuations of my subproblem objective function value as I said at the top of the discussion. Because my subproblem is infeasible sometimes, so I relaxed some constraints and introduced penalty to my subproblem objective function,

[2021-06-07 13:30] martinbiel commented on #30
The convergence behavior is problem-dependent so I really cannot say. I again suggest that you first consider smaller instances and see if you can solve them in finite time at least, and otherwise reconsider your model.

Yes, there are currently no user-defined stopping rules for L-shaped such as max_iterations, so you have to ctrl-c to stop earlier. I will look into adding custom termination rule

[2021-06-07 13:51] BYS543 commented on #30
ok, so when I try to change the optimizer from LShaped.Optimizer to ProgressiveHedging.Optimizer, why it tells me the following error:
`LoadError: The optimizer StochasticPrograms.ProgressiveHedging.Optimizer has no loaded structure. Consider `load_structure!``

[2021-06-07 13:58] martinbiel commented on #30
I do not support replacing the underlying structure, so you can not always just switch out the optimizer. You need to re-instantiate the problem with the progressive-hedging optimizer from the get go. The error messages could be improved here probably.

[2021-06-07 14:06] BYS543 commented on #30
Well, I have cleared the model and re-instantiate the problem using `sto=instantiate(model,[S1,S2,S3,S4,S5,S6,S7,S8,S9,S10],optimizer=ProgressiveHedging.Optimizer);` However, it has the same error,
`ERROR: LoadError: The optimizer StochasticPrograms.ProgressiveHedging.Optimizer has no loaded structure. Consider `load_structure!``

[2021-06-07 14:11] martinbiel commented on #30
Ah, I see. The progressive-hedging solver does not have a master optimizer, only a subproblem optimizer (It decomposes completely into subproblems). This is definitely not captured correctly in the error, I will fix that. Just do not set a MasterOptimizer when using progressive-hedging.

[2021-06-07 14:20] BYS543 commented on #30
So I set
[code]
instead of
[code]
why it still has the same error?

[2021-06-07 14:21] martinbiel commented on #30
You still need to set a subproblem optimizer: `set_optimizer_attribute(sto, SubProblemOptimizer(), Gurobi.Optimizer)`.

[2021-06-07 14:26] BYS543 commented on #30
All right, I forget to tell that when I set the solver of subproblem,
[code]
it has a strange error,
`LoadError: UndefVarError: SubproblemOptimizer not defined`
so I just delete it

[2021-06-07 14:27] martinbiel commented on #30
It is a typo, `SubProblemOptimizer` instead of `SubproblemOptimizer`.

[2021-06-07 14:30] BYS543 commented on #30
thank you very much for these valuable replies, Martin. I have used the processivehedging method.  What is the convergence criterion? Can I set the gap(e.g. 1%) of Gurobi for every scenario-dependence subproblems to stop?

[2021-06-08 06:55] martinbiel commented on #30
You can modify both the `PrimalTolerance` and the `DualTolerance` of the algorithm. The printouts during the procedure should indicate how they evolve. The purpose of the `Adaptive` penalizer is to acquire a good balance between primal and dual progress, but you might have to tune its parameters.

You can also set the tolerance of each subproblem solve directly through Gurobi using `RawSubProblemO

[2021-06-08 06:59] martinbiel commented on #30
Sorry, since its integer it is more likely
[code]
you are looking for.

[2021-06-08 07:11] martinbiel commented on #30
You could also try any of the regularized L-shaped methods:
[code]
[code]
[code]
Again, parameter tuning might be required.

[2021-06-08 09:12] BYS543 commented on #30
I have tried to adjust my master problem. And solve it with `set_optimizer_attribute(sto,IntegerStrategy(), CombinatorialCuts())`;However, it tells me my subproblem infeasible. I have one solution method,which is to introduce the relaxed variable into the infeasible constraints. Is there better methods to deal with subproblem infeasibility?
[code]

[2021-06-08 09:24] martinbiel commented on #30
[code]
to enable feasibility cuts (the warning is apparently slightly outdated, will fix).

[2021-06-08 14:10] BYS543 commented on #30
I find if I use `set_optimizer_attribute(sto, FeasibilityStrategy(), FeasibilityCuts())`, it will be still infeasible after many iterations, but the model can be solved as feasibility if I deal with all scenarios together. Whether it can be judged L-shaped method is not suitable for solving this kind of problem?
[code]

[2021-06-08 14:48] martinbiel commented on #30
It can take a long time to locate the feasibility set using cuts, but this is another highly problem-dependent aspect. Converting to penalty functions is a good method for finding the most difficult infeasibilities. You can also consider crash starting and hope that you start and stay in the feasible set. I cannot say what solver algorithms would be most suitable, or if you should reconsider aspec

[2021-06-10 07:50] #30 closed, assigned to nobody

[2021-07-17 12:04] enri07 opened #31 "Error during the instantiation of a program"
Hi,

I have build a two-stage stochastic model using the package StochasticPrograms and now I am trying to instantiate this program.
The model is a little bit complicated so it is difficult to give all the information about it, but to summarize I have defined a new type of scenario made by two arrays of dictionaries providing the expectation function as described in the manual. Then I created an a

[2021-07-17 22:33] odow commented on #31
It's impossible to debug without an example.

Create a minimal working example by simplifing what you have. Comment out variables and constraints until the error disappears. Try removing data.

https://stackoverflow.com/help/minimal-reproducible-example

It looks like this might be something to do with your `@decision` line.

[2021-07-18 09:04] enri07 commented on #31
Thank you for your help. I'm trying to simplify the problem as you suggested.

As regards the ```@decision``` variable, is there a problem in the following declaration?

[code]

I used the same sintax allowed for JuMP variables. In this case ```user_set``` and ```users_data[u].asset_names``` are respectively finite sets of integers and strings.

[2021-07-18 10:56] enri07 commented on #31
Thank you very much for your previous advice. By analyzing one at a time all the variables, I was able to find that the mistake was the declaration of a ```@recourse``` in the second stage that was indexed on an actual empty set. By removing it, all works fine and I'm also able to optimize the problem. I think that I can close this issue.

[2021-07-18 10:56] #31 closed, assigned to nobody

[2021-08-12 08:56] enri07 opened #33 "All the first-stage decision must be binary in the integer strategies"
Hi,

I'm trying to solve an integer problem by using one of the Integer strategies proposed in the manual. I've tried both CombinatorialCuts and Convexification, but when I run the optimization the following error appears:

[code]

I was wondering if there is a solution to avoid this request. Thank you for your time.

[2021-08-16 07:35] martinbiel commented on #33
I am afraid that this is a theoretical requirement for this strategy to converge. The convexification strategy configured with Gomory cutting planes is your only option for mixed-integer problems as of now. There is however no theoretical convergence guarantee using this method either since that would require special techniques not yet implemented.

[2021-08-16 07:35] #33 closed, assigned to nobody

[2021-08-24 12:00] enri07 opened #34 "How to stop the optimization of a stochastic program"
Hi,

I'm having some troubles trying to interrupt the optimization of a model that I have built by using StochasticPrograms.

After a lot of test I decided to use progressive-hedging algorithms to solve the model, but it is still difficult to find the optimal solution. Thus, I decided to put an optimality gap to stop the execution, but it seem that it doesn't work. This is what I put in the code:

[2021-08-24 12:38] martinbiel commented on #34
Your `DualTolerance` is probably still set to the default value of `1e-5` so since your dual gap is still large the procedure continues. You could set the dual tolerance to some really large value, or even`Inf`, if you want to inspect the solution you get with the nice primal convergence, although you should not get an implementable solution with agreement over all scenarios since there is no dual

[2021-08-25 12:26] enri07 commented on #34
Thank you very much for your reply, now it works.

Do you know if is it possible to use the macro @expression for the deterministic equivalent? Because if I run the same program with the LShaped optimizer or with the ProgressiveHedging optimizer it works, but if I try to convert the model into the Determinist Equivalent problem it shows me the following error:

[code]

Again, thank you very much f

[2021-08-25 12:51] martinbiel commented on #34
No, that should be a fixable oversight. Could you give a MWE of the `@expression` lines that do not work for the deterministic equivalent?

[2021-08-25 12:59] martinbiel commented on #34
Nevermind, I found it. It should work on master now.

[2021-08-25 13:16] enri07 commented on #34
Thank you very much!

[2021-09-15 14:37] russnelson82 opened #35 "Precompiling StochasticPrograms Error: LoadError"
I am running Julia 1.6.2 and attempting to run StochasticPrograms.jl v0.6.2.  I successfully added the StochasticPrograms package, but when I try to run "using StochasticPrograms" I get the following error:

┌ Info: Precompiling StochasticPrograms [8b8459f2-c380-502b-8633-9aed2d6c2b35]
└ @ Base loading.jl:1278
ERROR: LoadError: LoadError: LoadError: LoadError: LoadError: UndefVarError: coefficient

[2021-09-16 08:20] martinbiel commented on #35
You need JuMP on at least version v0.21.7. I will need to update my compat requirements.

[2021-09-17 11:45] russnelson82 commented on #35
I fixed the issue by uninstalling Julia, deleting all Julia files (the .julia folder) and reinstalling the latest version of Julia.

[2021-09-17 11:45] #35 closed, assigned to nobody

[2021-09-17 14:27] enri07 commented on #34
I'm sorry to re-open this issue, but I found out a new error message which I think it's a consequence of the previous change in the code.
Now, if I declare an @expression using the deterministic equivalent in master mode it shows the following error message:

[code]

The problem is that I'm sure that I've never declared P_tot_P_overestimate before.
Do you think this can be fixed? Thank you for you

[2021-09-17 14:37] martinbiel commented on #34
`P_tot_P_overestimate` is an `@expression`?

[2021-09-17 14:40] enri07 commented on #34
Yes it is an @expression declared in the @stage2.

[2021-09-17 14:41] martinbiel commented on #34
Could you ctrl-v the full `@expression` line?

[2021-09-17 14:45] enri07 commented on #34
Of course:

[code]
`user_set` goes from 1 to `n,` where `n` is usually 4.

[2021-09-17 14:52] martinbiel commented on #34
I am not sure why that does not work. Did a small test with an indexed `@expression` and it worked fine. If you e-mail me your model as a zip file I can have a look at it when I have time to search for the issue.

[2021-09-22 11:15] enri07 commented on #34
Hi Martin,

I'm sorry for the delay but I was trying to make a minimal example of the above error.

I've a zip file ready to sent, where can I find your e-mail?
Thank you very much for your help.

[2021-09-22 21:03] odow commented on #34
You can attach files to this GitHub thread

<img width="557" alt="image" src="https://user-images.githubusercontent.com/8177701/134421601-6360ebd4-5457-49a8-a5e2-27131a1726e3.png">

[2021-09-23 14:04] enri07 commented on #34
Thank you. For example, this zip file reproduce the error that I was trying to describe.
[Error.zip](https://github.com/martinbiel/StochasticPrograms.jl/files/7218273/Error.zip)

[2021-09-24 08:18] martinbiel commented on #34
Thank you. I had missed an edge case with `@expression`s that result in constant values. It should work on master now :slightly_smiling_face:

[2021-09-24 10:03] enri07 commented on #34
Thank you, I am very happy if I can give an help to the improvement of the package, even if minimally!
Now it works for the example attached before, but I would like to notice you that if we insert a dependence in the expression it gives the same problem. I have just modified the previous example with a simple dependence on the expression `P_tot_P_overestimate` to show that to you.
[Error1.zip](ht

[2021-09-24 11:03] martinbiel commented on #34
Yes, I should of course cover arrays of constant expressions as well. Should be fixed now!

[2021-09-24 12:14] enri07 commented on #34
Perfect, everything works now!

[2021-09-24 12:14] #34 closed, assigned to nobody

[2021-09-24 13:37] victorgarcia98 opened #36 "Solver hangs even when dual and primal problem gaps are set"
Hi Martin, last week I've been working on a stochastic program using the L-Shaped implementation that you made. I've encountered an issue related with the issue #34, the optimization is not finishing, getting frozen, even when the gap is lower than one defined. I add the code snippet + the L-Shaped last status, I hope it is useful.

[code]

[code]

Thanks in advanced 😄

[2021-09-24 13:54] martinbiel commented on #36
For L-shaped, the relevant attribute you should set is `RelativeTolerance`. It should be set after instantiation (I should probably show an error message if you try to set these on the `model` object). So adding `set_optimizer_attribute(sp, RelativeTolerance(), 1e-1` should do what you want. Sorry for the confusion.

[2021-09-24 13:59] martinbiel commented on #36
Also, the reason for the procedure not finishing is that you are running an integer program. When the gap reaches the chosen relative tolerance, the algorithm will continue with the convexification procedure until the second-stage solution is integer where required. This could probably be reflected better in the printout. Note that the integer extensions available are experimental, so there are pr

[2021-09-24 19:21] Lessvn opened #37 "How to access the optimal values of the second stage variables"
Hello, I am trying to run the farmer.jl example. The model works find and the optimal solution is found. However when I enter ```JuMP.value.(w)``` following command to get the values of  the second stage variables ```w```, it says  ```UndefVarError: w not defined```. Could you please let me know if I am missing something here? Thanks!

[2021-09-24 19:46] martinbiel commented on #37
You need to first access the recourse decision using for example `w = sp[2,:w]` (2 for stage 2 and :w for the relevant variable). Because the value is scenario dependent, you need to specify the scenario: `JuMP.value(w,1)` (for the optimal value in the first scenario). This is explained further in the [documentation](https://martinbiel.github.io/StochasticPrograms.jl/stable/manual/decisions/).

Co

[2021-09-24 19:46] #37 closed, assigned to nobody

[2021-09-30 18:06] victorgarcia98 commented on #36
Oh, you were totally right! Removing the 2nd stage problem integer variables made the L-shape to converge.
Thanks a lot Martin!

[2021-10-01 08:36] #36 closed, assigned to nobody

[2021-12-29 20:55] simontherien opened #38 "Shadow price of named constraint"
Hello, I am trying to retrieve the shadow price for a first stage constraint `@constraint(slpr_bp, cap, x_1 + x_2 <= 4 - η_hat)` as such but I get the error _UndefVarError: cap not defined_ when calling `shadow_price(cap, 1)` JuMP method (1 for first stage). Is this expected? How do I explicitly reference a named constraint of a certain stage? Thanks!

[2022-01-24 18:59] martinbiel commented on #38
You need to acquire a `SPConstraintRef` of the desired constraint first. The easiest for a named constraint is through `cap = sp[1,:cap]`, where `sp` is your stochastic program instance and `1` is the stage. Relevant docs are [here](https://martinbiel.github.io/StochasticPrograms.jl/stable/manual/decisions/).

[2022-01-24 18:59] #38 closed, assigned to nobody

[2022-01-25 14:41] jmcastro2109 opened #39 "Can I use StochasticPrograms.jl with Conic Constraints?"
Hi,

My second stage problem has a linear objective and the constraint is a power cone. Currently I am solving this second stage problem with Mosek. Can I use Stochastic Programs to solve the first stage?

edit:

Looks like it does not work :(

[code]

[2022-01-30 13:36] martinbiel commented on #39
From the error text I would not assume that this is a `StochasticPrograms` related error. Does it work if you formulate a deterministic version of the problem in JuMP directly?

[2022-01-30 15:45] jmcastro2109 commented on #39
Yes, it does!

Here is the code that is giving me the error

`
# Trying Stochastic Programs

using JuMP, LinearAlgebra, Random, Distributions, BenchmarkTools, MosekTools, NLopt

using StochasticPrograms

@sampler SimpleSampler = begin
    N::MvNormal

    SimpleSampler(μ, Σ) = new(MvNormal(μ, Σ))

    @sample Scenario begin
        x = rand(sampler.N)
        return Scenario(z₁ = exp(x[1]), z₂ = e

[2022-01-30 16:38] martinbiel commented on #39
Parameter values are missing.

It looks like the objective is not being bridged properly. Quadratic support is not thoroughly tested, and conic stuff are not tested at all, so it is not unlikely that this is the issue.

[2022-02-06 20:18] odow opened #40 "Update to latest version of JuMP and MOI"
This is causing people problems: https://github.com/martinbiel/StochasticPrograms.jl/blob/cb38c4ca70366b770017c7225324bc19a4080c2a/Project.toml#L30

x-ref: https://github.com/jump-dev/Gurobi.jl/issues/445

[2022-02-09 14:32] davide-f commented on #40
I'm experiencing the same problem; recommend JuMP version 0.22 and mathoptinterface 0.10 and MutableArithmetics 0.2

Probably it is not worthy to specify also the third layer like 0.2.22, unless the specific version is required

[2022-02-12 15:55] martinbiel commented on #40
The breaking changes in 0.10 will require a few redesigns, so unfortunately I cannot just bump the versions.

[2022-04-21 16:23] FHell opened #41 "[Question] objective_value, evaluate_decision and the parts of the objective."
Hi,
thank you for your excellent package!

I am a bit confused about the interpretation of the various evaluate_decision and objective_value calls though and the documentation didn't clear things up.

Given a stochastic program like:

x_opt = min_x f(x) + E_s h(x, s)

We need the f(x_opt) variable and the h(x_opt, s) on various s.

We have a scenario that satisfies h(x_opt, s_zero) = 0.

Now the q

[2022-04-24 09:45] martinbiel commented on #41
With your notation,
[code]
is h(x_opt, i), i.e. you query the contribution of scenario i to the objective after running optimization. I would guess that your experiment with the mean does not hold generally.

Note, also, that you will sometimes get a sign discrepancy if the objective sense in the first and second stage do not match. For example, if the first stage objective is minimized and the se

[2022-04-27 14:29] e-zolotarevskaya commented on #41
Hi,
I am using your great package together with @FHell. Thank you for your reply!

To test if your suggestion is true in our case we saved objective values and results of ```evaluate_decision()``` for all scenarios. If ```evaluate_decision(sp, x_opt, i) == objective_value(sp, i) +f(x_opt)``` it should be scenario independent. But by looking at the difference between ```evaluate_decision()``` and `

[2022-04-29 19:11] FHell commented on #41
I managed to reduce our code to a true minimal working example:

https://github.com/PIK-ICoNe/RecoveryModel.jl/blob/main/mwe.jl

Fully reproduced below. My guess right now is that this has to do with the presence of first stage variables in the second stage objective. At least I couldn't reproduce the problem in the absence of this, e.g. the code in

https://github.com/PIK-ICoNe/RecoveryModel.jl/b

[2022-05-03 12:35] martinbiel commented on #41
Hello again,

You were correct, the bug stems from the presence of first-stage variables in the second-stage objective. They were being overwritten by the first-stage objective during the decision evaluation. My latest commit to master should have fixed it. I at least get
[code]
as expected, and eds[i] - ovs[i] is now scenario independent in your example. Thanks for the MWE! I will look into a mor

[2022-05-05 12:12] FHell commented on #41
Brilliant! Thanks a lot, we'll send you the paper once we're done with it. :)

Enjoy your parental leave! I am about to go myself, too :)

[2022-05-05 12:12] #41 closed, assigned to nobody

[2022-09-04 10:20] #40 closed, assigned to nobody

[2022-10-06 18:17] kaarthiksundar opened #44 "Asynchronous Progressive Hedging Solution fetch issue"
There seems to be an issue with accessing the solution of a 2-stage stochastic programming model after using PG with Asynchronous option to solve the same. The error occurs when we use `JuMP.value(model[2, :x], 25)` for say a 25 scenario problem. The issue arises when I try to access the solution of the decision variables in the last scenario. This error is erratic, some times it throws an error w